.selectContainer {
	background-color: #00ACFE;
  	border-radius: 10px;
  	margin: 10px 5px 10px 5px;
	padding: 5px 1px 5px 1px;
}

.textColor {
	color: white;
}

.submitButton {
	color: white;
	background-color: #00ACFE;
	border-radius: 10px;
}