/*create a smaller centered div to hold the new case creation input fields*/
.centerPage {
	border-radius: 10px;
	margin: auto;
    position: absolute;
    top: 0px; left:0; bottom:0; right:0;
    width: 90%;/* 60% in production*/ 
    height: 82%;  
	background-color: #0078B2;
}

/*center align all elements on the page*/
.centerAlign{
	text-align: center;
}
/*add whitespace between the select element and the text*/
select {
	margin-top: 15px;
	margin-bottom: 15px;
}
