/*make the click area big as the cases, green to signal to click here*/
.clickNewButton {
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  color: black;
  background-color: green;
  padding: 25px 1px 25px 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.buttenTextSize {
  font-size: 1.17em;
}