/*round out the ends of the instruction and case title sections*/
.instructionsContainer {
  border-radius: 10px;
  margin: 15px 5px 15px 5px;
  background-color: white;
  color: black;
}

.blueStatusColor {
	color: #00ACFE;
}

.yellowStatusColor {
	color: #BDB900;
}

.redStatusColor {
	color:#C90000;
}