
/*remove the bullets and indention from the lists displaying the cases*/
.listOfCases {
  list-style-type: none;
  margin: 0;
  padding:0;
}

/*add a border surrounding the two major sections on the main screen*/
.sectionBorder {
  border-style: solid;
  border-width: thin;
}

/*round out the ends of the instruction and case title sections*/
.fileContainer {
  border-radius: 10px;
  margin: 15px 5px 5px 5px;
  padding: 5px 5px 5px 5px;	
  background-color: #0078B2;
}

.mainColor {
	background-color: #4CC4FE;
	color: white;
  	border-radius: 10px;
  	margin: 5px 5px 5px 5px;
	padding: 1px 1px 1px 1px;	
}

.testColor {
	background-color: #00ACFE;
	color: white;
  	border-radius: 10px;
  	margin: 5px 5px 5px 5px;
	padding: 1px 1px 1px 1px;
}

.newCaseForm {
	border-radius: 10px;
	margin: auto;
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    width: 65%;/* 60% in production*/ 
    height: 75%;  
	background-color: #0078B2;
}

