
/*remove the bullets and indention from the lists displaying the cases*/
.listOfCases {
  list-style-type: none;
  margin: 0;
  padding:0;
}

/*add a border surrounding the two major sections on the main screen*/
.sectionBorder {
  border-bottom-style: solid;
  border-width: thin;
  background-color: #0078B2;
}

/*round out the ends of the instruction and case title sections*/
.fileContainer {
  border-radius: 10px;
  margin: 15px 5px 5px 5px;
  padding: 5px 5px 5px 5px;	
  background-color: #0078B2;
}

/*alternate color for case files diplayed in App.js's CaseManagement component.*/
.mainColor {
	background-color: #4CC4FE;
	color: white;
  	border-radius: 10px;
  	margin: 5px 5px 5px 5px;
	padding: 1px 1px 1px 1px;	
}

/*alternate color for case files diplayed in App.js's CaseManagement component.*/
.testColor {
	background-color: #00ACFE;
	color: white;
  	border-radius: 10px;
  	margin: 5px 5px 5px 5px;
	padding: 1px 1px 1px 1px;
}

/*alternate color for warning out of time color for case files diplayed in App.js's CaseManagement component.*/
.warnColor {
	background-color: gold;
	color: white;
  	border-radius: 10px;
  	margin: 5px 5px 5px 5px;
	padding: 1px 1px 1px 1px;	
}

/*alternate color for danger, finish immediate, color for case files diplayed in App.js's CaseManagement component.*/
.dangerColor {
	background-color: lightcoral;
	color: white;
  	border-radius: 10px;
  	margin: 5px 5px 5px 5px;
	padding: 1px 1px 1px 1px;	
}

.dangerColor, warnColor, mainColor, testColor {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caseManagementForm {
	border-radius: 10px;
	margin: auto;
    position: absolute;
    top: 0px; left:0; bottom:0; right:0;
    width: 90%;/* 60% in production*/ 
    height: 86%;
}

/*create a smaller centered div to hold the new case creation input fields*/
.newCaseForm {
	border-radius: 10px;
	margin: auto;
    position: absolute;
    top: 0px; left:0; bottom:0; right:0;
    width: 90%;/* 60% in production*/ 
    height: 86%;  
	background-color: #0078B2;
}

.navForm {
	margin: auto;
    position: absolute;
    top: 0px; left:0; bottom:0; right:0;	
	width: 90%;
}

/*CSS for add new cases button in caseManagment container*/
.addNewCaseBackground {
    background-color: green;
    color: white;
}

/* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 365px) {
	  .smallScreenContentHeight{
		  height:82%;
	  }
  }

/* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
	  .tablietAndAboveContentHeight{
		  height: 88%;
	  }
  } 
