/*align the app's title to the center*/
.centerAlign {
  text-align: center;
}

.navColor {
	background-color: white;
	color: black;
}

/*round out the ends of the instruction and case title sections*/
.instructionsContainer {
  border-radius: 10px;
  margin: 15px 5px 15px 5px;
  background-color: white;
  color: black;
}